* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color:dodgerblue;
}

.big-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.box {
    width: 25%;
    text-align: center;
    background-color: white;
}

.box img {
    width: 90px;
    height: 135px;
}

.box:hover {
    background-color: rgb(230, 230, 230);
    cursor: pointer;
    transition: 0.3s ease;
}

.h2-phone-text {
    letter-spacing: 5px;
    color: blue;
}

.h2-info-phone {
    opacity: 50%;
}

.h3-text-phone {
    font-size: 25px;
    color: blue;
}

.desktop-h2-text {
    letter-spacing: 5px;
    color: blue;
}

.desktop-h2-info {
    opacity: 50%;
}

.h3-text-desktop {
    font-size: 25px;
    color: blue;
}

.tv-h2-text {
    letter-spacing: 5px;
    color: blue;
}

.tv-h2-info {
    opacity: 50%;
}

.h3-text-tv {
    font-size: 25px;
    color: blue;
}